// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400&family=Roboto:ital,wght@1,100;1,400;1,500&display=swap');
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


// Medias querys - Breackpoint
 
$sm: 640px;
$md: 768px;
$lg: 1024px;
$columns: 12;


// Colores

$primario: #e99401;
$secundario:#455A64;
$negro:#000000;
$blanco:#ffffff;
$grisclaro:#eceeef;
 
// Unidades

$separacion:5rem;


