
.c-header{
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url("/img/header.jpg");
    background-size: cover;
    padding: 4rem 0;
    background-position: center;
   
}